* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

html {
    height: 100%;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    height: 100%;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color) !important;
}

.container {
    width: 100%;
    max-width: 750px;
    padding: 0 20px;
    margin: 0 auto;
}

.product {
    width: 200px;
    box-shadow: 0 0 5px 0 #929292c9;
    border-radius: 5px;
}

.product-img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.product-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px;
}

.product-text-wrapper h2 {
    font-size: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.detail-product-modal {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: var(--tg-theme-bg-color);
    transition: all .3s ease;
}

.active-detail {
    right: 0;
}

.detail-product {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.detail-product img {
    width: 100%;
}

.detail-product-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.detail-btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.detail-product-btns-wrapper {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.detail-product-btns-wrapper button {
    width: 100%;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color) !important;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.detail-product-btns-wrapper button:last-child {
    background: rgba(109, 109, 109, 0.3);
    color: var(--tg-theme-button-color) !important;
}

.product-title {
    width: 100%;
    max-width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (max-width: 700px) {
    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 0;
    }

    .product {
        width: 100%;
    }

    .container {
        padding: 0 10px;
    }
}

@media screen and (max-width: 340px) {
    .products {
        display: flex;
        flex-direction: column;
    }
}